*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
}

.container{
    width: 550px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(100deg,#FFFAD1,#F5F7FB,#DEEBF8);
    padding: 24px 75px 0px 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.start-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-container > .header-title{
    font-size: 41px;
    color: #293264;
    font-family: 'Karla';
    font-weight: 700;
    margin-bottom: 0;
}

.start-container > .description{
    font-size: 16px;
    color: #293264;
    font-family: 'Inter';
    font-weight: 400;
}

.start-container > .start-btn{
    background-color: #4D5B9E;
    width: 190px;
    height: 50px;
    font-size: 16px;
    color: #F5F7FB;
    font-family: 'Inter';
    font-weight: 500;
    border-radius: 15px;
    border-style: none;
    margin-top: 20px;
    transition:0.3s;
}

.start-container > .start-btn:hover{
    transform: scale(1.05);
    font-size: 20px;
}

.check-btn{
    background-color: #4D5B9E;
    width: 190px;
    height: 50px;
    font-size: 16px;
    color: #F5F7FB;
    font-family: 'Inter';
    font-weight: 500;
    border-radius: 15px;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    transition:0.3s;
}

.check-btn:hover{
    transform: scale(1.05);
    font-size: 20px;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question{
    font-size: 16px;
    color: #293264;
    font-family: 'Karla';
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;
}

.options{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ced2e8;
    padding-bottom: 10px;
}

fieldset{
    border: none;
}

.radio-input{
    display: none;
}

.radio-label{
    font-size: 12px;
    color: #293264;
    font-family: 'Inter';
    font-weight: 500;
    min-width: 65px;
    height: 20px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px 5px 3px;
    background-color: transparent;
}

.radio-input:checked + .radio-label { 
    background-color: #4D5B9E; 
    color: white;
}

/* .radio-label-reveal-true{
    font-size: 12px;
    color: #293264;
    font-family: 'Inter';
    font-weight: 500;
    min-width: 65px;
    height: 20px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px 5px 3px;
    background-color: transparent;
}

.radio-input:checked + .radio-label-reveal-true { 
    background-color: green; 
    color: white;
}

.radio-label-reveal-false{
    font-size: 12px;
    color: #293264;
    font-family: 'Inter';
    font-weight: 500;
    min-width: 65px;
    height: 20px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px 5px 3px;
    background-color: transparent;
}

.radio-input:checked + .radio-label-reveal-false { 
    background-color: red; 
    color: white;
} */